body{
    background-color: blueviolet;
    font-family:'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;

}

/******************************************************Headings************************************************************/

/*Neeraj */
.Neeraj{
    color: whitesmoke;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 3px;
    font-size: 2.1em;
    margin-bottom: 12px;
}

.stats{
    color: floralwhite;
    font-weight: bold;
}
/*Vigilight heading*/
.Vigilight{
    color:azure;
    margin-left: 5px;
    font-weight: bolder;
}

.arduino-project{
    color:azure;
    margin-left: 5px;
    font-weight: bolder;
}

.intellitoll-sys{
    color: azure;
    margin-left: 5px;
    font-weight: bolder;
}

.Name{
    color: azure;
    margin-left: 5px;
    font-weight: bolder;
}


.current_focus{
    color: azure;
    margin-left: 5px;
    font-weight: bolder;
}

#current-focus{
    margin-top: 90px;
    margin-right:auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 15px;
    width: 650px;
    height: 199px;
    transition-duration: 0.2s;
}

#current-focus:hover{
    transform: translate(15px);
    transition-duration: 0.2s;
}

.Works{
    color: azure;
    margin-left: 5px;
    font-weight: bolder;
}

.Skills-heading{
    color:azure;
    margin:16px;
}

#skills{
    margin-left:auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 15px;
    width: 650px;
    height: 199px;
    transition-duration: 0.2s;
}

#skills:hover{
    transition-duration: 0.2s;
    transform:translateX(-15px);
}


#achievements-section{
    margin-top: 90px;
    margin-left:auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 15px;
    width: 650px;
    height: 199px;
    transition-duration: 0.2s;
}

#achievements-section:hover{
    transition-duration: 0.2s;
    transform:translateX(-15px);
}

.about-me{
    font-size: 30px;
    color: azure;
    font-weight: bold;
    margin-left: 12px;

}

/***************************************Heading-CSS-Portion-Ending*****************************************************/

.profile-window {
    padding: 20px;
    border-radius: 15px;
}

h2{
    color: floralwhite;
    font-weight: bold;
}


p{

    color: beige;
    margin-left: 15px;
    align-content: center;
}

p1{
    margin-left: 5px;
    color: beige;

}

/*Vigilight para*/
.vigilight-para{
    color: floralwhite;
    margin-left: 15px;
    font-weight:Bold;
}

.arduino-para{
    color:floralwhite;
    font-weight:bold;
}

.Intelli-sys-para{
    color: floralwhite;
    font-weight:bold;
}

/*para*/
.tagline{
    font-size: 20px;
    color: floralwhite;
    text-align: center;
    margin:0;
}

/*heading*/
.github{
    color: floralwhite;
}

.github-account{
    font-weight: bold;
    color: floralwhite;
}


li{
    color: azure;
    margin-left: 40px;
}



/*********************************************************Sections*****************************************************/
.VigiLight{

    flex: 1;
    padding: 35px 40px;
    background-color:mediumslateblue;
    color: #222;
    margin-left: 16px;
    border-radius: 50px;
    transition-duration: 0.3s;


}
/*Hover*/
.VigiLight:Hover{
    transition-duration: 0.3s;
    box-shadow: 2px 3px 1px 2px  rgba(0, 0, 0, 0.6);
    transform:translateY(-10px);
}



.Arduino-Project{

    flex: 1;
    padding: 35px 40px;
    background-color:mediumslateblue;
    margin-left: 16px;
    border-radius: 50px;
    transition-duration: 0.3s;
}

/*Hover*/
.Arduino-Project:Hover{
    transition-duration: 0.3s;
    box-shadow: 2px 3px 1px 2px rgba(0, 0, 0, 0.6);
    transform:translateY(-10px);
}

.IntelliToll-System{

    flex: 1;
    padding: 35px 40px;
    background-color:mediumslateblue;
    margin-left: 18px;
    border-radius: 50px;
    transition-duration: 0.3s;
}
/*Hover*/
.IntelliToll-System:Hover{
    transition-duration: 0.3s;
    box-shadow: 2px 3px 1px 2px rgba(0, 0, 0, 0.6);
    transform:translateY(-10px);
}

.github-account{
    flex: 1;
    padding: 35px 40px;
    background-color:mediumseagreen;
    margin-left: 18px;
    border-radius: 50px;
    transition-duration: 0.3s;
}
/*Hover*/
.github-account:Hover{
    transition-duration: 0.3s;
    box-shadow: 2px 3px 1px 2px rgba(0, 0, 0, 0.6);
    transform:translateY(-10px);
}

#contributor-stats{
    border-radius: 15px;
    border:none;
    margin-left: 23px;
}
#contributor-stats:Hover{
    transition-duration: 0.3s;
    box-shadow: 2px 3px 1px 2px rgba(0, 0, 0, 0.6);

}

#Achievements{
    flex: 1;
    padding: 35px 40px;
    background-color:mediumslateblue;
    margin-left: 18px;
    border-radius: 50px;
    transition-duration: 0.3s;
}

#Achievements:Hover{
    transition-duration: 0.3s;
    box-shadow: 2px 3px 1px 2px rgba(0, 0, 0, 0.6);
}

@media(min-width: 1100px){
    #contact{
        margin-left:470px;
    }
}
#contact {
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    margin-top: 20px;
    background-color: #1e1e1e;
    margin-bottom: 80px;
    transition-duration:0.6s;
    justify-content: center;

}
#contact:Hover{
    transition-duration: 0.6s;
    box-shadow: 20px 13px 12px 2px  rgba(0, 0, 0, 0.6);
}

label {
    display: block;
    margin-bottom: 5px;
    color: floralwhite;
    font-weight: bold;
}

input {
    width: 90%;
    height: 10%;
    display: block;
    padding: 8px;
    margin-bottom: 7px;
    border: 1px  #ccc;
    border-radius: 7px;
    background-color: white;
    font-size: 14px;
}

#submit{
    border:none;
    font-weight: bold;
    font-size: large;
    border-radius: 20px;
    color: #1e1e1e;
    width: 290px;
    height: 50px;
    background-color: turquoise;
    transition-duration: 0.3s;
}

#submit:Hover{
    background-color: royalblue;
    color: floralwhite;
    box-shadow: 0 2px 3px rgba(0,0,2,0.6);

}


/**************************************************Section-CSS-Portion-Ending******************************************/

#intro{
    margin-bottom: 90px;
    height: 200px;
    width: 850px;
    border-radius: 15px;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition-duration: 0.2s;
}

#intro:hover{
    transition-duration: 0.2s;
    transform: translateX(15px);
}



div{
    margin-left: 30px;
}

.btn {

    border-radius: 5px;
    margin-top: 10px;
}


/*link button*/
a {
    margin-left: 15px;
}

nav {
    text-align:center;
}

nav a{
    color: white;
    font-weight:bold;
    text-decoration:none;
}

footer{
    text-align:center;
}

header{
    padding: 20px 20px;
    background-color: #1e1e1e ;


}



button{
    padding: 10px 15px;
    border-radius: 5px;
    text-align:center;
    border: none;
    background-color: PaleTurquoise;

}

button:hover{
    background-color:CadetBlue;
}


#circle{
    border-radius: 80%;
    margin-left: 1000px;
    height: 150px;
    width: 150px;
    overflow: hidden;
}


#circle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

